.pismo{
    color:whitesmoke ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 4px
}
body{
    background-color: rgb(54, 54, 54);
}
.pozadí-white{
    background-color:whitesmoke ;
}
.odkaz{
    text-decoration: none;
}
.cervena{
    color: red;
}
.auto-link{
    text-decoration: none;
    color: rgb(2, 126, 2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: dashed;
    border-width: 1px;
    background-color: rgba(127, 255, 212, 0.247);
}
.ohraniceni{
    border: solid 3px black;
}